/* pages/cart/index.wxss */

.revice_address_row{
    .address_btn{
        padding: 20rpx;

        button{
            width: 60%;
        }
    }

    .user_info_row{
        display: flex;
        .user_info{
            flex:5;
        }

        .user_phone{
            flex:3;
            text-align: right;
            
        }
    }
}